body {
  font-size: 200%;
  font-family: meiryo,sans-serif;
  background: #003;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 15px;
  border-block: 6px solid #000080;
  border-inline: 6px solid #000080;
}
h1 {
  text-align: center;
  border-radius: 5px;
  background: #0000ea;
  margin: 5px 5px;
  padding: 10px;
  -webkit-text-stroke: .01px #ddF;
}
h2 {
  text-align: center;
  border-radius: 5px;
  background: #0000e0;
  margin: 10px 5px;
  padding: 10px;
  -webkit-text-stroke: .01px #ddF;
}
h3 {
  text-align: center;
  border-radius: 5px;
  background: #0011da;
  margin: 10px 5px;
  padding: 10px 10px;
  -webkit-text-stroke: .01px #ddF;
}
h4 {
  text-align: center;
  border-radius: 5px;
  background: #0033d0;
  margin: 10px 5px;
  padding: 10px 10px;
}
p1 {
  text-align: center;
  -webkit-text-stroke: .01px #ddF;
  font-weight: bold;
  font-size: 100%;
}
.resizeimage img {
  width: 100%;
}
input[type="button"] {
  background: #aaf;
  border-radius: .8em 0 .8em 0;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  -webkit-text-stroke: .01px #ddf;
}

@media screen and (max-width:600px) {

body {
  text-align: center;
  font-size: 150%;
  font-family: meiryo,sans-serif;
  background: #003;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  border-block: 6px solid #000080;
  border-inline: 6px solid #000080;
}
h1 {
  text-align: center;
  border-radius: 5px;
  background: #0000ea;
  margin: 5px 5px;
  padding: 10px;
  -webkit-text-stroke: 1px #ddF;
}
h2 {
  text-align: center;
  border-radius: 5px;
  background: #0000e0;
  margin: 10px 5px;
  padding: 10px;
  -webkit-text-stroke: 1px #ddF;
}
h3 {
  text-align: center;
  border-radius: 5px;
  background: #0011da;
  margin: 10px 5px;
  padding: 10px 10px;
  -webkit-text-stroke: 1px #ddF;
}
h4 {
  text-align: center;
  border-radius: 5px;
  background: #0033d0;
  margin: 10px 5px;
  padding: 10px 10px;
}
p1 {
  text-align: center;
  -webkit-text-stroke: 1px #ddF;
  font-weight: bold;
  font-size: 100%;
}  
.resizeimage img {
  width: 100%;
}
input[type="button"] {
  background: #aaf;
  border-radius: .8em 0 .8em 0;
  padding: 5px 10px;
  margin: 0 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  -webkit-text-stroke: 1px #ddf;
}
}
